body {
 background-image:linear-gradient(rgb(59, 59, 59), rgb(32, 32, 32), black);
 background-repeat: no-repeat;
 background-size: cover;
}
.items {
    background-color: rgb(34, 34, 34);
    border-radius: 0.3rem;
    padding: 15px;
}
.info {
    background-color:black;
    border-radius: 0.8rem;
}